:root {
    --rojo: #C0392B;
    --rojo-oscuro: #BD0B0B;
    --amarillo: #F2E474;
    --crema: #F0EADD;
    --blanco: #FFFFFF;
    --texto: #2B2B2B;
    --gris: #808080;
}

html, body{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    font-family: Arial, sans-serif;
    color: var(--texto);
    margin: 0;
    background-color: var(--rojo-oscuro);
}

main{
    flex: 1;
}

.footer {
    font-family: Arial, sans-serif;
    color: var(--texto);
    background-color: var(--amarillo);
    padding: 10px 10px;
}

h1 {
    font-size: 2rem;
    text-shadow: 1px 1px 2px var(--crema), 1px 1px 1px var(--amarillo);
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

.layout {
    display: flex;
    gap: 10px;

    width: 100%;
    text-align: center;
    background-color: var(--rojo-oscuro)
}

.layout .Productos {
    display: flex;
    flex: 3; /*en este caso se distribuye en los dos hijos*/
    flex-direction: row;
    flex-wrap: wrap; /*hace que salte de linea al no haber espacio*/

    padding: 5px;
    margin: 5px;
}

.layout .Productos .tarjeta {
    display: flex;
    flex-direction: column;
    gap: 2px;

    padding: 15px;
    margin: 10px;
    background-color: var(--crema);
        
    border: 1px solid black;
    border-radius: 20px;
}

.layout .Productos .tarjeta img{
    display: block;
    margin: auto;

    width: 100px;
    height: 100px;

    border-radius: 100px;
}

.layout .Productos .tarjeta .btn {
    border-radius: 10px;
    background-color: var(--blanco);
    transition: background-color 0.3s ease;
}

.layout .Productos .tarjeta .btn:hover {
    background-color: var(--rojo);
}

.layout .Productos .tarjeta .btn:active {
    transform: scale(0.90);
    background-color: var(--rojo);
}

.layout .carrito {
    flex: 1; /*sirve para distribuir el espacio disponible*/
    border-radius: 10px;
    box-shadow: 1px 1px 10px;
    background-color: var(--crema);

    padding: 10px;
    margin: 10px;
}

.layout .carrito .carrito-encabezado{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.layout .carrito .carrito-encabezado img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
}

.layout .carrito .carrito-productos img{
    display: block;
    margin: auto;

    width: 70px;
    height: 70px;

    border-radius: 100px;
}

.layout .carrito .carrito-productos .imagen{
    display: flex;
    flex-direction: column;
}

.layout .carrito .carrito-productos .detalles{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.layout .carrito .btn {
    border-radius: 10px;
    background-color: var(--rojo);
    transition: background-color 0.3s ease;
}

.layout .carrito .btn:hover {
    background-color: var(--rojo-oscuro);
}

.layout .carrito .btn:active {
    transform: scale(0.90);
    background-color: var(--rojo);
}

.carrito .carrito-productos .linea{
    display: flex;
    flex-direction: column;

    margin: 15px;
}